/*Author: Carmen van-Baumberghen Rodríguez*/
/*Date: 10/10/2022*/
/*Estilo Formulario*/

.error{
    color: #ffb400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.img_header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 4px 3px #0a0d15;
}

body{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #0a0d15;
    background-image: url("/images/background_jpg.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 97%;
}

a {
    color:#f1742b;
}
form{
    width: 87%;
	padding:20px;
	border-radius:2px;
	margin: 10px;
	background-color:#003d5c;
    box-shadow: 3px 5px 3px #0a0d15;
}
.formulary{
    margin: auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #003d5c;
    border-radius: 5px;
    color: white;
    background-color: #15171e;
}

.form_field{
    margin: 4px;
    width: 94%;
    padding: 5px;
    background-color: #15171e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p{
    float: left;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.btn{
  background-color: #05a0fa;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 19px;
  width: 92%;
  cursor: pointer;
}

.btn:hover {
    background-color: #1ea9fb;
    color: white;
}

.final_box{
    width: 87%;
	padding: 50px;
	border-radius:2px;
	margin: 40px;
	background-color:#0a0d15;
    box-shadow: 3px 5px 3px #0a0d15;
}

.politics{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
margin-top: 4px !important;
}
  
#btn_reset{
background-color: #f1742b;
}

.label_for_option{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}

.children_of_option{
margin: -12px 0;
}

.label_for_option > input{
    margin-right: 16px;
}